<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/layout/layout.html}">
  <head>
    <title>COMPANY INFO</title>
  </head>
  <body>
    <div class="companyContainer" id="contents" layout:fragment="contents">
      <!-- company info -->
      
      <section class="company">
        <div id="sending">
          <h1 class="discount-banner font900 sakura h1" data-aos="fade-down" data-aos-delay="400">Company Information</h1>
          <h1 class="discount-banner font900 sakura h1 mt-5" data-aos="fade-right" data-aos-delay="700">こんにちは</h1>
          <h3 class="discount-banner font700" data-aos="fade-right mt-5 " data-aos-delay="700"> We are Stellar Tour !</p>
            <div class="bar"  data-aos="fade-right" data-aos-delay="900"></div>
          <div class="companyInfo"><img src="/images/company/companyInfo.png" class="mt-3" alt="companyInfo"
            data-aos="flip-left" data-aos-delay="900"></div>
            </div>
  <hr>
      <a name="philosophy" style="position:absolute; 
      top: 2030px;"></a>
            <!-- company philosophy -->
           
              <div id="sending">
                       <h1 class="discount-banner font900 sakura h1 mt-5" data-aos="fade-down" data-aos-delay="800">Company Philosophy</h1>
                       <div class="bar"  data-aos="fade-up" data-aos-delay="800"></div>
                        <div><img src="/images/company/profile.jpg" class="mt-3" alt="companyInfo" data-aos="zoom-in" data-aos-delay="900"></div>
              <div class="companyInfo"><img src="/images/company/philosophy.png" class ="philosophy" data-aos="flip-right" data-aos-delay="900" alt=""></div>
                      </div>
                      
                      
                 <hr>
            <a name="profile" style="position:absolute; top: 4070px;"></a>
              <!-- company  profile -->
              <div id="sending">
                        <h1
              class="discount-banner font900 sakura h1 mt-5"
              data-aos="fade-down"
              data-aos-delay="400"
                        >
              Company Profile
                        </h1>
                        <div class="bar" data-aos="fade-up" data-aos-delay="800"></div>
                        <div class="companyInfo">
              <img
                src="/images/company/profile.png"
                class="comprofile"
                data-aos="flip-left"
                data-aos-delay="800"
                alt=""
              />
                        </div>
                      </div>
                     
            </section>
      </div>
  </body>
</html>
